.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(120deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(120deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(120deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(120deg,#FF5370,#ff869a);
}

.order-card i {
    font-size: 57px;
    margin-right: 4px;
    color: gray;
    opacity: 0.4;
}

.f-right {
    float: right;
}